#colors{
    background-color: #009eb2;
    background-color: #ff6600;
    background-color: #fffdf2;
    background-color: #ff0072;
    background-color: #221a27;
}

/* fonts */
@font-face {
    font-family: NeoGloss;
    src: url(../fonts/neogloss-font/NeoglossBlack-axv9m.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto-font/RobotoMedium-Owv4.ttf);
}

*{
    margin: 0%;
    padding: 0%;
    font-family: Roboto;
}

h1,h2,h3,h4,h5,h6{
    font-family: NeoGloss;
}

h1{
    font-size: 50pt;
}

h2{
    font-size: 40pt;
}

h3{
    font-size: 35pt;
}

/* general */
a{
    text-decoration: none;
    font-weight: bolder;
}

section{
    width: 90%;
    height: 500px;
    display: flex;
}

aside{
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.pinkLinks{
    color: #ff0072;
}

.whiteLinks{
    color: aliceblue;
}

.blueLinks{
    color: #009eb2
}

.imageContainer{
    width: 100%;
}

.backGroundImage{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#page,main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* header */

header{
    width: 100%;
    height: 80px;
}

nav{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul{
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    display: flex;
    gap: 20px
}

#logo{
    width: 40px;
}

/* banner */
#banner{
    width: 95%;
    height: 500px;
    background-image: url("../images/banner.jpg");
    border-radius: 10px;
    margin: 10px 0px;
}

/* areas */
#areas{
    height: auto;
    padding: 20px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cursosAreas{
    width: 90%;
    word-break: break-all;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

#frontEndTitle{
    color: #ff6600;
}
#backEndTitle{
    color: #ff0072;
}
#uxDesignTitle{
    color: #009eb2;
}
#mobileTitle{
    color: #a547f1;
}
#programacaoTitle{
    color: #85f147;
}

.curso{
    width: 20%;
    height: 250px;
    padding: 20px;
    color: aliceblue;
    background-color: #221a27;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px 20px 0px 0px;
}

.cursoImg{
    width: 80px;
    height: 80px;
}

/* sobre nos */
#sobreNos{
    background-color: #221a27;
    border-radius: 10px;
    justify-content: space-around;
    overflow: hidden;
    color: white;
}

#sobreNosImg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.imagesSobreNos{
    width: 50%;
    height: 50%;
}

/* imagesSobreNos */
#sobreNosImg1{
    background-image: url(../images/sobrenos.jpg);
}

#sobreNosImg2{
    background-image: url(../images/sobrenos2.jpg);
}

#sobreNosImg3{
    background-image: url(../images/sobrenos3.jpg);
}

#sobreNosImg4{
    background-image: url(../images/sobrenos4.jpg);
}

#sobreNosTexto{
    width: 45%;
    padding: 0% 5%;
}

#sobreNosTexto h1{
    text-align: center;
}

#sobreNosIcons{
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
/* benefios */
#beneficios{
    background-color: #ff0072;
    color: white;
    border-radius: 20px;
    overflow: hidden;
    margin: 20px 0px;
}

#beneficiosTexto{
    width: 45%;
    padding: 0% 5%;
}

#beneficiosImg{
    width: 100%;
    height: 100%;
    background-image: url(../images/beneficios.jpg);
}

/* time */
#time{
    margin: 20px 0px;
    flex-direction: column;
    align-items: center;
}

#timeGrupo{
    width: 90%;
    height: 80%;
    background-color: #a547f1;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.integranteTime{
    width: 20%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.integranteImg{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 5px solid white;
    filter: grayscale(1);
}

#integranteAlex{
    background-image: url(../images/userIcons/alex.jpg);
}

#integranteIan{
    background-image: url(../images/userIcons/ian.jpg);

}

#integranteKachi{
    background-image: url(../images/userIcons/kachi.jpg);

}

#integranteSpencer{
    background-image: url(../images/userIcons/spencer.jpg);

}

/* precos */
#precos{
    width: 90%;
    flex-direction: column;
    align-items: center;
}

table{
    width: 90%;
    background-color: #221a27;
    color: #fffdf2;
    padding: 20px 0px;
    border-radius: 20px;
    overflow: hidden;
}

th, td{
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.tableTitle{
    background-color: #fffdf2;
    color: #ff6600;
}

.basico{
    background-color: #009eb2;
}

.avancado{
    background-color: #85f147;
    color: #221a27;
}

.premium{
    background-color: #ff0072;
}

/* footer */
footer{
    width: 100%;
    height: 100px;
    background-color: #221a27;
    color: white;
    display: flex;
}