.lightTheme{
    background-color: rgb(224, 224, 224);
    color: rgb(97, 97, 97);
    transition: 1s;
}

/* dark */

.darkTheme{
    background-color: #221a27;
    color:rgb(224, 224, 224);
    transition: 1s;
}

